{% extends "layout.html" %}
{% block content %}
<div class="card w-50 p-3 m-3">
  <img
    class="card-img-top avatar avatar-128 rounded-circle"
    src="{{ url_for('static', filename='images/bios/schardl_bio.jpeg')}}"
    alt="Dr. Schardl"
  >
  <div class="card-body">
    <h5 class="card-title">Dr. Christopher L. Schardl</h5>
    <p class="card-text">
      Institutional Affiliation: University of Kentucky, Department of Plant Pathology<br>
      Role in Institution: Professor of Plant Mycology<br>
      Contributions to Project: Project Leader<br>
      Hobby Outside of Research: Hiking, Whitewater Kayaking & Rafting
    </p>
    <a href="#" class="btn btn-secondary">Personal Site</a>
  </div>
</div>
{% endblock content %}