<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    {# TODO: Site title #}
    {% if title %}
      <title>Working Title - {{ title }}</title>
    {% else %}
      <title>Working Title</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
  </head>
  <body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('routes.home') }}">
          {# TODO: Logo or something here #}
          Home
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('routes.home') }}">
            Home
          </a>

          <a class="navbar-item" href="{{ url_for('routes.project_details') }}">
            Project Details
          </a>

          <a class="navbar-item" href="{{ url_for('routes.biographies') }}">
            Biographies
          </a>

          <a class="navbar-item" href="{{ url_for('routes.map') }}">
            Map
          </a>

          <a class="navbar-item" href="{{ url_for('routes.gbrowse') }}">
            GBrowse?
          </a>

        <div class="navbar-end"></div>
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
  </body>
</html>
